<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>index</title>
  </head>
  <body class="indexBody">
    <%- include ("partials/header.ejs") %>
    <div class="blogPosts">
      <% if (posts && posts.length > 0) { %> <% posts.forEach(post => { %>
      <div class="blogPost">
        <h2>
          <a href="/edit/<%= posts.indexOf(post) %>"><%= post.title %></a>
        </h2>
        <h3><%= post.subheader %></h3>
        <p><%= post.paragraph %></p>
      </div>
      <% }) %> <% } else { %>
      <p>No posts available.</p>
      <% } %>
    </div>
  </body>
</html>
